<% if logged_in? %>

      <h3>投稿一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
    <div class="dic">
      <ul class="slider">
        <li>
            <%= image_tag 'hc.png', class: 'entity-img' %>
        </li>
        <li>
            <%= image_tag 'up.png', class: 'entity-img' %>
        </li>
        <li>
            <%= image_tag 'ging.png', class: 'entity-img' %>
        </li>
      </ul>
    </div>
    <div class="coment">
      <h1>
        あなたの思い出の一曲は何ですか？
      </h1>
      <h2>今日のおすすめアーティストは
      <%= link_to @artist,"https://ja.wikipedia.org/wiki/#{@artist}" %>です</h2>
    </div>
<div class="center jumbotron"><div class="accordion" id="accordion-4">
  <p>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      ForAllPeopleとは
    </button>
  </p>
  
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      ForAllPeopleは、ユーザーの好きな音楽を共有できるWebサービスです。
      <br>是非登録して、あなたの好きな音楽を教えてください！
    </div>
  </div>
  
  </div>
    <%= link_to "会員登録", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= render 'trial/trial' %>
<% end %>